{%extends './layout/base.html'%} {%block title%}任务详情{%endblock%} {%block content%}

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="am-g">
            <!-- Row start -->
            <div class="am-u-sm-12">
                <div class="card-box">

                    <h4 class="header-title m-t-0 m-b-30">任务详情</h4>

                    <div class="am-g">
                        <div class="am-u-md-12">
                            <form class="am-form am-text-sm">
                                <div class="am-form-group">

                                    <div class="am-g">
                                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ipt-text-1">{{task.title}}</label>
                                        <input class="am-u-md-10 form-control" id="doc-ipt-text-1" placeholder="任务Id" disabled value="{{task._id.toString()}}">

                                    </div>
                                </div>

                                <div class="am-form-group">

                                    <div class="am-g">
                                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ipt-text-1">标题</label>
                                        <input class="am-u-md-10 form-control" id="doc-ipt-text-1" placeholder="输入标题信息" value="{{task.title}}">
                                    </div>


                                </div>

                                <div class="am-form-group">
                                    <div class="am-g">
                                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ipt-phd-1">推荐网址</label>
                                        <input class="am-u-md-10 form-control" id="doc-ipt-phd-1" placeholder="提示信息" value="{{task.websiteUrl}}">
                                    </div>
                                </div>



                                <div class="am-form-group">
                                    <div class="am-g">
                                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ipt-phd-1">标签</label>
                                        <input class="am-u-md-10 form-control" id="doc-ipt-phd-1" placeholder="提示信息" value="{{task.taskTag.name}}">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <div class="am-g">
                                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ta-1">文本域</label>
                                        <textarea class="am-u-md-10 form-control" rows="5" id="doc-ta-1"></textarea>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <div class="am-g">
                                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ipt-phd-1">标签</label>
                                        <input class="am-u-md-10 form-control" id="doc-ipt-phd-1" placeholder="提示信息" value="{{task.publisher.nickname}}">
                                    </div>
                                </div>

                            </form>

                        </div>


                    </div>
                </div>
            </div>
            <!-- Row end -->
        </div>






        <!-- row end -->

    </div>
</div>
{%endblock%}