{%extends './layout/base.html'%} {%block title%}
<title>粉丝收益</title>
{%endblock%} {%block content%}
<div class="animated fadeInRight">
    <div class="icon">
        <div class="icon-box">
            <div class="iconImg">
                <div class="iconImgs">
                    <img src="{{user.headimgurl}}" alt="">
                </div>
            </div>
            <p class="name">{{user.nickname}}</p>
            <div class="id">编号:<span>{{user._id.toString().substring(0,5)}}</span></div>
        </div>
    </div>
    <div class="tixianye">
        <div class="tixianye-box">
            <p>24小时内收益详情</p>
        </div>
    </div>
    <table class="biao1">
        <tr>
            <th>级别</th>
            <th>数量</th>
            <th>收益</th>
            <th>比例</th>
        </tr>
        <tr>
            <td>一级</td>
            <td>5</td>
            <td>￥xxxx.xxx</td>
            <td>xxxx%</td>
        </tr>
        <tr>
            <td>二级</td>
            <td>12</td>
            <td>￥xxx.xx</td>
            <td>xxxx%</td>
        </tr>

    </table>
</div>
<div class="padding"></div>
{%endblock%}