<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8"> {%block title%}
    <title>分享赚钱</title> {%endblock%}
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/font_8ojbete1vduhxgvi/iconfont.css">
    <link rel="stylesheet" href="/css/tools.css"> {%block head%} {%endblock%}
</head>

<body oncontextmenu="return false;" onselectstart="return false">

    {%block content%} {%endblock%}
    <footer class="footer">
        <div class="footer-box">
            <a href="/share/index">
                <i class="iconfont  {%if path=='/share/index' %} active {%endif%}">&#xe617;</i>
                <span class=" {%if path=='/share/index' %} active {%endif%}">分享赚钱</span>
            </a>
        </div>
        <div class="footer-box">
            <a href="/share/person-center">
                <i class="iconfont {%if path=='/share/person-center' %}  active  {%endif%}">&#xe619;</i>
                <span class=" {%if path=='/share/person-center' %}  active  {%endif%}">个人中心</span>
            </a>
        </div>
        <div class="footer-box">
            <a href="/share/shop-center">
                <i class="iconfont {%if path=='/share/shop-center' %} active {%endif%}">&#xe600;</i>
                <span class=" {%if path=='/share/shop-center' %} active {%endif%}">微商中心</span>
            </a>
        </div>
        <div class="footer-box">
            <a href="/share/recruit-student">
                <i class="iconfont {%if path=='/share/recruit-student' %} active {%endif%}">&#xe6ce;</i>
                <span class="{%if path=='/share/recruit-student' %} active {%endif%}">我要收徒</span>
            </a>
        </div>
    </footer>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/jquery.qrcode.js"></script>
    <script src="/js/qrcode.js"></script>
    <script src="/js/wechat.js"></script>

    {%block script%} {%endblock%}
</body>

</html>