<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/js/jquery-1.9.1.min.js"></script>
</head>

<body>
    <form method="POST">
        <div>
            <label for="">标题</label><input type="text" name="title">
        </div>
        <div><label for="">视频地址</label><input type="url" name="videoUrl" value=""></div>
        <div><label for="">图片地址</label><input type="url" name="videoUrl" value="" onchange="">
        </div>
        <button type="submit">提交</button>
    </form>

    <script>
        function loadImage() {

        }
    </script>
</body>

</html>