{extends './layout/base.html'} {%block content%}
<div class="animated fadeInRight">
    <div class="icon">
        <div class="icon-box">
            <div class="iconImg">
                <div class="iconImgs">
                    <img src="images/icon.jpg" alt="">
                </div>
            </div>
            <p class="name">YX061122000</p>
            <div class="id">编号:<span>226</span></div>
        </div>
    </div>
    <div class="zuobi">
        <p>————作弊会员公式————</p>
        <span>小虾米`</span>
        <span>月是故乡明</span>
        <span>好好先生`</span>
        <span>毕竟我不是你`</span>
        <span>coiier`</span>
        <span>金鱼的7秒记忆里`</span>
    </div>
    <div class="yue">
        <b>￥25.00</b>
    </div>
    <div class="tixianfangshi">
        <div class="zhifufangshi-box">
            <p>支付宝提现</p>
            <span>(三个工作日到账)</span>
        </div>
    </div>
    <div class="tixianfangshi1">
        <form action="">
            <div class="tixian-form">
                <label for="">提现账号:</label>
                <input type="text" placeholder="请输入您要提现的支付宝号">
            </div>
        </form>
    </div>
    <div class="tixianfangshi1">
        <form action="">
            <div class="tixian-form">
                <label for="">提现姓名:</label>
                <input type="text" placeholder="支付宝绑定者姓名">
            </div>
        </form>
    </div>
    <div class="tixianfangshi1">
        <form action="">
            <div class="tixian-form">
                <label for="">提现金额:</label>
                <input type="text" placeholder="每天限额10元">
            </div>
        </form>
    </div>
    <div class="tixianfangshi2">
        <button type="submit">提现</button>
    </div>

</div>
<a href="perfect.html">
    <div class="tishi">
        温馨提示:完善个人信息后才能提现哟！~
    </div>
</a>
{%endblock%}