 {%extends './layout/base.html'%}{%block content%}
<nav class="nav">
    <a href="/share/" class="active">推荐</a> {% for tag in taskTags%}
    <a href="/share/?taskTag={{tag._id.toString()}}">{{tag.name}}</a> {%endfor%}
</nav>
<div class="animated fadeInRight">
    <div class="center">
        {%for task in tasks%}
        <div class="center-box">
            <div class="center-box-cr">
                <img src="/images/img1.jpg" alt="">
                <p>为什么华人神探李昌裕认为章莹颖仍认为有生还的可能性?</p>
                <span class="time">2017-07-13</span>
                <span class="cost"><i class="iconfont">&#xe60e;</i>￥0.2元</span>
                <span class="click"><i class="iconfont">&#xe662;</i>7762</span>
            </div>
        </div>
        {%endfor%}
        <a class="center-box" href="/share/detail/:_id">
            <div class="center-box-cr">
                <img src="/images/img1.jpg" alt="">
                <p>为什么华人神探李昌裕认为章莹颖仍认为有生还的可能性?</p>
                <span class="time">2017-07-13</span>
                <span class="cost"><i class="iconfont">&#xe60e;</i>￥0.2元</span>
                <span class="click"><i class="iconfont">&#xe662;</i>7762</span>
            </div>
        </a>
    </div>
</div>
{%endblock%}