 {%extends './layout/base.html'%}{%block content%}
<nav class="nav">
    <a href="" class="active">推荐</a>
    <a href="">热门</a>
    <a href="">搞笑</a>
    <a href="">视频</a>
    <a href="">两性</a>
    <a href="">社会</a>
</nav>
<div class="animated fadeInRight">
    <div class="center">
        <div class="center-box">
            <div class="center-box-cr">
                <img src="images/img1.jpg" alt="">
                <p>为什么华人神探李昌裕认为章莹颖仍认为有生还的可能性?</p>
                <span class="time">2017-07-13</span>
                <span class="cost"><i class="iconfont">&#xe60e;</i>￥0.2元</span>
                <span class="click"><i class="iconfont">&#xe662;</i>7762</span>
            </div>
        </div>
        <div class="center-box">
            <div class="center-box-cr">
                <img src="images/img1.jpg" alt="">
                <p>为什么华人神探李昌裕认为章莹颖仍认为有生还的可能性?</p>
                <span class="time">2017-07-13</span>
                <span class="cost"><i class="iconfont">&#xe60e;</i>￥0.2元</span>
                <span class="click"><i class="iconfont">&#xe662;</i>7762</span>
            </div>
        </div>
        <div class="center-box">
            <div class="center-box-cr">
                <img src="images/img1.jpg" alt="">
                <p>为什么华人神探李昌裕认为章莹颖仍认为有生还的可能性?</p>
                <span class="time">2017-07-13</span>
                <span class="cost"><i class="iconfont">&#xe60e;</i>￥0.2元</span>
                <span class="click"><i class="iconfont">&#xe662;</i>7762</span>
            </div>
        </div>
        <div class="center-box">
            <div class="center-box-cr">
                <img src="images/img1.jpg" alt="">
                <p>为什么华人神探李昌裕认为章莹颖仍认为有生还的可能性?</p>
                <span class="time">2017-07-13</span>
                <span class="cost"><i class="iconfont">&#xe60e;</i>￥0.2元</span>
                <span class="click"><i class="iconfont">&#xe662;</i>7762</span>
            </div>
        </div>
        <div class="center-box">
            <div class="center-box-cr">
                <img src="images/img1.jpg" alt="">
                <p>为什么华人神探李昌裕认为章莹颖仍认为有生还的可能性?</p>
                <span class="time">2017-07-13</span>
                <span class="cost"><i class="iconfont">&#xe60e;</i>￥0.2元</span>
                <span class="click"><i class="iconfont">&#xe662;</i>7762</span>
            </div>
        </div>
        <div class="center-box">
            <div class="center-box-cr">
                <img src="images/img1.jpg" alt="">
                <p>为什么华人神探李昌裕认为章莹颖仍认为有生还的可能性?</p>
                <span class="time">2017-07-13</span>
                <span class="cost"><i class="iconfont">&#xe60e;</i>￥0.2元</span>
                <span class="click"><i class="iconfont">&#xe662;</i>7762</span>
            </div>
        </div>
        <div class="center-box">
            <div class="center-box-cr">
                <img src="images/img1.jpg" alt="">
                <p>为什么华人神探李昌裕认为章莹颖仍认为有生还的可能性?</p>
                <span class="time">2017-07-13</span>
                <span class="cost"><i class="iconfont">&#xe60e;</i>￥0.2元</span>
                <span class="click"><i class="iconfont">&#xe662;</i>7762</span>
            </div>
        </div>
        <div class="center-box">
            <div class="center-box-cr">
                <img src="images/img1.jpg" alt="">
                <p>为什么华人神探李昌裕认为章莹颖仍认为有生还的可能性?</p>
                <span class="time">2017-07-13</span>
                <span class="cost"><i class="iconfont">&#xe60e;</i>￥0.2元</span>
                <span class="click"><i class="iconfont">&#xe662;</i>7762</span>
            </div>
        </div>
    </div>
</div>
{%endblock%}