{%extends './layout/base.html'%} {%block content%}
<div class="animated fadeInRight">
    <div class="shuoming">
        <img src="/images/st.jpg" alt="">
    </div>
    <div class="sm">
        <p class="a1">目前我们的微赚每天平均收入为7元，一个月收入210元；一个活跃的徒弟，每月会额外给你增加61元，想赚更多，看这里↓</p>
        <p>每月赚1830元：只需招收30个徒弟</p>
        <p>每月赚3660元：只需招收60个徒弟</p>
        <p>每月赚5490元：只需招收90个徒弟</p>
        <p>每月赚10980元：只需招收180个徒弟</p>
        <p>徒弟越多，收入越高！</p>
        <p>
            <span>我的邀请码:</span>
            <span>{{user._id.toString().substring(0,5) }}</span>
        </p>
        <li>收徒拿奖励</li>

        <div id="qrcode" style="display:none"></div>
        <img src="{{user.headimgurl}}" alt="" id="codeImage" class="img-responsive">
        <!-- <div id="url">{{authUrl}}</div> -->
        <li>二维码收徒</li>
    </div>
</div>

{%endblock%} {%block script%}


<script>
    try {

        $('#qrcode').qrcode($('#url').text());
        var base64 = $('#qrcode canvas').get(0).toDataURL("image/png");
        $('#codeImage').attr('src', base64);
    } catch (error) {
        alert(error)
    }
</script>
{%endblock%}